extends ../layout

block content
	h1= title
	#container(style="width:300px;margin-right:10px;margin-top:10px")		
		form(method='POST',id='form',action='/users/login')
			input(type='text',name='username',value=userId)
			input(type='password',name='password')		
			input(type='submit',name='submit',value='Login',id='submit')
